{{#each images as |image|}}
{{log image}}
  <section data-id="{{image.id}}">
    <h3>Date Created: {{date_created}}</h3>
    <h3>Date Modified: {{date_modified}}</h3>
    <h3>Owner: {{user.email}}
    <h3>Tag: {{tag}}</h5>
    <!-- {{> partial}} -->
  </section>

  <button data-id="{{image.id}}"
          class="btn btn-outline-info mr-2 update">Edit</button>
          <button data-id="{{image.id}}"
                  class="btn btn-danger delete">Remove</button>
{{/each}}
