{{#each images as |image|}}
  {{log image.owner}}
  <img src="{{image.url}}"/>
  <h3>Date Created: {{image.createdAt}}</h3>
  <h3>Date Modified: {{image.updatedAt}}</h3>
  <h3>Owner: {{image.owner.email}}</h3>
  <h3>Tag: {{tag}}</h3>
  <button class="btn btn-primary update-image" data-update-image="{{image._id}}">Edit</button>
  <br>

{{/each}}
